<!DOCTYPE html>
<html>
	<head>
		<%- include head %>
	</head>
	<body>
		<div class="clearfix  singlepage">
			<div class="content clearfix">
				<div class="side float-r">
					<div class="about_author pos-rela">
						<div class="author_info">
							<a href="/" class="home pos-abso" title="返回首页">
								<span class="icon icon-home"></span>
							</a>
							<a href="#" class="author_head">
								<img src="<%= post.head %>">
							</a>
							<div class="info_list">
								<a href="javascript:;"><span>用 户 名：</span><%= post.name %></a>
								<a href="javascript:;"><span>创建时间：</span><%= post.createTime %></a>
							</div>
						</div>
					</div>
				</div>
				<div class="article_content float-l pos-rela">
					<% if (user && (user.name == post.name)) { %>
					<a class="edit pos-abso" href="/edit/<%= post._id %>" title="编辑">
						<span class="icon icon-edit"></span>
					</a>
					<a class="remove pos-abso" href="javascript:;" data-url="/delete/<%= post._id %>" title="删除">
						<span class="icon icon-trash"></span>
					</a>
					<% } else { %>
						<% if (user && (user.name == 'huwenhua012')) { %>
							<a class="remove pos-abso" href="javascript:;" data-url="/delete/<%= post._id %>" title="删除">
								<span class="icon icon-trash"></span>
							</a>
						<% } %>
					<% } %>
					<% var flag = 1 %>
					<% if (user && (user.name != post.name)) { %>
						<% if ((post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>
						<% 		flag = 0 %>
						<% } %>
						<% if ((post.reprint_info.reprint_to != undefined)) { %>
							<% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
								<% if (user.name == reprint_to.name) { %>
									<% flag = 0 %>
								<% } %>
							<% }) %>
						<% } %>
					<% } else { %>
						<% flag = 0 %>
					<% } %>
					<article>
						<h1 class="article-title t-c"><%= post.title.replace('<span>','').replace('</span>', '') %></h1>
						<div class="article-main"><%- post.post %></div>
						<br />
						<div class="info clearfix">
				
							<span class="float-l">
									标签：
							<% if (post.tags.length > 0 && post.tags[0]) { %>
								<% post.tags.forEach(function (tag, index) { %>
									<% if (tag) { %>
										<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
									<% } %>
								<% }) %>
							<% } else { %>
								无
							<% } %>
							</span>
							<span class="float-r">
								日期：<%= post.time.minute %>
							</span>
						</div>
						<div class="info clearfix">
							<span class="float-l">
								阅读：<%= post.pv %> |
								评论：<%= post.comments.length %> |
								转载：
								<% if (post.reprint_info.reprint_to) { %>
									<%= post.reprint_info.reprint_to.length %>
								<% } else { %>
									<%= 0 %>
								<% } %>
							</span>
							<div class="float-r">
								<span class="icon icon-weichat">
									<div class="weixin-qr"></div>
								</span>
							<% if (post.reprint_info.reprint_from) { %>
								<a href="/p/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.id %>">原文链接</a>
							<% } %>
							<% if (flag) { %>
								<a href="/reprint/<%= post._id %>">转载</a>
							<% } %>
							</div>
						</div>
					</article>
					<% include comment %>
				</div>
			</div>
		</div>
		<script src="/js/jquery-2.0.3.min.js"></script>
		<script src="/js/jquery.qrcode.js"></script>
		<script src="/js/qrcode.js"></script>
		<script src="/js/help.js"></script>
		<script src="/js/comment.js"></script>
        <script src="/js/markdown_extend.js"></script>
		<script>
			(function () {
				jQuery('.weixin-qr').qrcode({
					text: location.href
				});
				var url = '';
				var defaultImgUrl = $('.author_head img').attr('src');
				var $img = $('article img').eq(0);
				if ($img.length > 0) {
					url = 'http://' + location.host + $img.attr('src');
				} else {
					url = defaultImgUrl;
				}
				var Share = $.extend( {}, WeiXinShareLink, {
					imgUrl: url,
					shareTitle: $('.article-title').text(),
					descContent: ($('.article-main').text()).substr(0, 20) + '……'
				});
				Share.enable();

				$('.article-main').html(ME($('.article-main').html()));
			})();
		</script>
	</body>
</html>
