<div class="comment">
	<div class="comment__inner clearfix">
		<div class="textarea float-l" id="form_comment_content" contenteditable="true"></div>
		<a href="javascript:;" title="评论" class="btn btn-comment float-r icon icon-send"></a>
		<% if (user) { %>
		<div class="clearfix pos-rela hidden">
			<input type="text" name="name" id="form_comment_name" value="<%= user.name %>" placeholder="用户名："/>
			<input type="email" name="email" id="form_comment_email" value="<%= user.email %>" placeholder="邮箱："/>
			
			<div class="tip time-tip pos-abso popover bottom">
				<div class="arrow"></div>
				<p>稍后再试！</p>
			</div>
		</div>
		<% } else { %>
			<div class="clearfix pos-rela hidden">
				<input type="text" class="form-control pull-left" name="name" id="form_comment_name" value="匿名" placeholder="用户名"/>
				<input type="email" class="form-control pull-left" name="email" id="form_comment_email" value="5201314@520.com" placeholder="邮箱"/>
				<div class="tip time-tip pos-abso popover bottom">
					<div class="arrow"></div>
					<p>稍后再试！</p>
				</div>
			</div>
		<% } %>
	</div>
</div>
<div class="comments">
	<% post.comments.reverse().forEach(function (comment, index) { %>
	<div class="commented pos-rela">
		<a class="comment_head pos-abso"><img src="<%= comment.head %>"/></a>
		<div class="comment_content">
			<p><%- comment.content %></p>
			<p class="info">
				<a href="javascript:;"><%= comment.name %></a>
				<span> 回复于 <%= comment.time %></span>
			</p>
		</div>	 
	</div>
	<% }) %>
</div>
