<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="job-info">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt active">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="job-content common-w">
				<h1 class="title"><%= job.title %></h1>
				<div class="job__req">
					<div class="job__req_item">招聘人数：<%= job.number %></div>
					<div class="job__req_item">性别：<%= job.sex  %></div>
					<div class="job__req_item">年龄：<%= job.age %></div>
				</div>
				<div class="job__des">
					<pre>
						<%= job.job %>
					</pre>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>
</html>