<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="recruit manager">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt active">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="viewport viewport_recruit">
				<div class="viewport__content">
					<% if (user) {%>
					<h1 class="viewport__title clearfix">
						人力资源
						<a href="/post_job" class="btn-post-new float-r">发布招聘</a>
					</h1>
					<div class="job_list">
						<table>
							<tr>
								<th>招聘职位</th>
								<th>招聘人数</th>
								<th>发布日期</th>
								<th>操作</th>
							</tr>
							<% jobs.forEach(function (job, index) {%>
							<tr>
								<td><a target="_blank" href="/job/<%= job._id %>"><%= job.title %></td>
								<td><%= job.number %></td>
								<td><%= job.time.minute %></td>
								<td class="operate">
									<a href="/editjob/<%= user.name %>/<%= job._id %>">编辑</a>
									<a href="/deletejob/<%= user.name %>/<%= job._id %>">删除</a>
								</td>
							</tr>
							<% }) %>
						</table>
						<% include paging %>
					</div>
					<% } %>
				</div>	
			</div>
			<% include footer %>
		</div>
	</body>
</html>