<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="posted">
			<div class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
					<ul class="nav navbar-nav">
						<li>
							<a href="/" class="home pos-abso" title="返回首页"><span class="icon icon-home"></span></a>
						</li>
						<li class="active">
							<a href="/oposted/<%= post.name %>" title="<%= post.name %>文章中心"><span class="icon icon-list"></span></a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/u/<%= user.name %>" class="user_head" title="<%= user.name %>">
								<img src="<%= user.head %>" alt="<%= user.name %>">
							</a>
						</li>
						<li class="navbar-right">
							<a href="/logout"><span class="icon icon-log-out"></span></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="posted-list">
				<div class="list pull-left">
					<div id="list" class="pull-right wtf">
						<div class="list-head">
							<span class="author"><%= post.name %></span>
							<span>发布的文章</span>
							<a href="/post" class="pull-right"><span class="icon icon-plus"></span></a>
						</div>
						<% var active; %>
						<% arrayId.forEach(function(id, index){ %>
							<% if (index === 0) {active=' active'} else {active = ''} %>
						<div class="title-item<%= active %>">
							<div class="article-btn" href="javascript:;" data-name="<%= user.name %>" data-id="<%= id._id %>">
								<p class="p1"><%= id.title %></p>
								<p class="p2">发表于：<%= id.time.minute %></p>
							</div>
						</div>
						<% }) %>
					</div>
				</div>
				<div class="content pull-left pos-rela">
					<div style="height: 100%;width: 100%;" class="wtf pos-rela">
						<div class="matte-head pos-abso"></div>
						<div class="content-head pos-abso">
							<div class="pull-right">

							</div>
						</div>
						<div id="content">
							<div class="article">
								<h2 class="txt-center"><%= post.title %></h2>
								<%- post.post %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/jquery-2.0.3.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/userAll.js"></script>
	</body>
</html>