<!DOCTYPE html>
<html>
	<head>
		<% include head %>
		<link rel="stylesheet" href="/css/post.css"/>
	</head>
	<body>
		<div class="post">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
					<ul class="nav navbar-nav">
						<li>
							<a href="/" class="home pos-abso" title="返回首页"><span class="icon icon-home"></span></a>
						</li>
						<li class="active">
						<% if (post) { %>
							<a href="/edit/<%= post._id %>" title="编辑">
								<span class="icon icon-edit"></span>
							</a>
						<% } else { %>
							<a href="/post" title="发布">
								<span class="icon icon-pencil"></span>
							</a>
						<% } %>
						</li>
						<li>
							<a href="/posted/<%= user.name %>" title="个人文章中心"><span class="icon icon-th-list"></span></a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/u/<%= user.name %>" class="user_head" title="<%= user.name %>">
								<img src="<%= user.head %>" alt="<%= user.name %>">
							</a>
						</li>
						<li class="navbar-right">
							<a href="/logout"><span class="icon icon-log-out"></span></a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="textarea clearfix pos-rela">
				<div class="post-title pos-abso">
				<% if (post) { %>
					<input type="text" class="post-title_input" id="title" value="<%= post.title %>" placeholder="文章标题">
				<% } else { %>
					<input type="text" class="post-title_input" id="title" placeholder="文章标题">
				<% } %>
				</div>
				<div class="editor-container pull-left">
					<div class="editor pull-right">
					<% if (post) { %>
						<div id="post" contenteditable="true" name="post"><%- post.post %></div>
					<% } else { %>
						<div id="post" contenteditable="true" name="post"></div>
					<% } %>
					</div>
				</div>
				<div class="preview-container pull-right">
					<div class="preview pull-left">
						<div id="preview"></div>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse">
					<form class="navbar-form " method="post">
						<div class="form-group">
							<span class="add-on icon icon-tags"></span>
						</div>
						<div class="form-group">
						<% if (post)  { %>
							<input type="text" name="tag" id="tag" value="<%= post.tags %>" class="form-control" placeholder="标签1，标签2，标签3...">
						<% } else { %>
							<input type="text" name="tag" id="tag" class="form-control" placeholder="标签1，标签2，标签3...">
						<% } %>
						</div>
						<div class="btn-group dropup navbar-right">
						<% if (post) { %>
							<button type="button" id="post-btn" class="btn btn-default">更新</button>
						<% } else { %>
							<button type="button" id="post-btn" class="btn btn-default">发布</button>
						<% } %>
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">存为草稿</a></li>
								<li class="divider"></li>
								<li><a hraf="javascript:;">定时保存</a></li>
							</ul>
						</div>
					</form>
				</div>
			</nav>
		</div>
		<input type="hidden" id="hidden" value="<%= user.name %>">
		<script src="/js/jquery-2.0.3.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/markdown.js"></script>
		<script src="/js/postImg.js"></script>
	</body>
</html>