<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="tag-page">
			<div id="container" class="container">
				<div id="list">
				<% var lastYear = 0 %>
				<% posts.forEach(function (post, index) { %>
						<% if (lastYear != post.time.year) { %>
					<div><h3><%= post.time.year %></h3></div>
						<% lastYear = post.time.year } %>
					<% if (index == 0) { %>
					<div class="title-item first">
						<a class="article-btn clearfix" href="/p/<%= post.name %>/<%= post._id %>">
							<div class="spa1"><b><%- post.title %></b></div>
							<div class="spa2">
								<span>作者：<%- post.name %></span>
								<span><%- post.time.day %></span>
							</div>
						</a>
					</div>
					<% } else { %>
					<div class="title-item">
						<a class="article-btn clearfix" href="/p/<%= post.name %>/<%= post._id %>">
							<div class="spa1"><b><%- post.title %></b></div>
							<div class="spa2">
								<span>作者：<%- post.name %></span>
								<span><%- post.time.day %></span>
							</div>
						</a>
					</div>
					<% } %>
				<% }) %>
				</div>
			</div>
		</div>
		<% include footer %>
	</body>
</html>